
html {
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

html[Attributes Style] {
    -webkit-locale: "en";
}

html {
    display: block;
}

body {
    display: grid;
    place-items: center;
    text-align: center;
    background-size: cover;
}
.content .text {
    
   /* width: 183px;
    height: 27px;
    left: 567px;
    top: 134px;*/
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 153%;
    display: flex;
    align-items: center;
    margin: 10px;
    margin-left: 70px;
    text-align: center;
    letter-spacing: 0.17cm;
    text-transform: uppercase;
    color: #FFFFFF;
}
.heading {
	display: flex;
flex-direction: row;
align-items: center;
padding: 20px 150px 20px 20px;
gap: 15px;

position: absolute;
width: 120px;
height: 45px;
left: 70px;
top: 155px;

background: rgba(104, 204, 88, 0.16);
border-radius: 0px;

font-family: 'Spartan';
font-size: 34px;
font-style: normal;
color: #FFFFFF;
letter-spacing: 0.12cm;
margin-left: 20px;
}


div {
    display: block;
}

.background{
	background: 
}
.figure{
	position: absolute;
width: 463px;
height: 191px;
left: 50px;
top: 250px;
border-radius: 10px 10px 0px 0px;

}
.new{
	display: flex;
flex-direction: row;
align-items: center;
padding: 20px 150px 20px 20px;
gap: 15px;

position: absolute;
width: 120px;
height: 45px;
left: 70px;
top: 455px;

background: rgba(104, 204, 88, 0.16);
border-radius: 0px;

font-family: 'Spartan';
font-size: 34px;
font-style: normal;
color: #FFFFFF;
letter-spacing: 0.12cm;
margin-left: 20px;
}


.container {
	position: absolute;
width: 1400px;
height: 418px;
left: 74px;
top: 600px;
border-style: none;
background: rgba(104, 204, 88, 0.14);
border-radius: 0px;



}
button{
	width: 180px;
height: 39px;
align-items: right;
background: #FFFFFF;
border-radius: 14px;
}

.date{
	display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 13px 20px;
gap: 10px;

width: 59px;
height: 57px;

background: #68CC58;
border-radius: 5px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

p{
	width: 217px;
height: 27px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
padding: 0px 90px 80px 95px;
/* identical to box height */



color: #C4C4C4;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}